<!DOCTYPE html>
<html>
	<head>
		<title>
			Modifica genere
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/form_new_game_style.css" />		
	</head>

	<body style="background-color: #272727;">
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container rounded mt-5 mb-5" style="background-color: #323232; padding: 2%;">
			
			<h1 class="mb-4">
			    <span class="ms-2 text-white">Modifica dati del genere <span th:text="${genre.name}"> </span> </span>
			</h1>
			
			<form th:action="@{'/admin/modifyGenre/' + ${genre.id}}" method="POST" class="mb-4" enctype="multipart/form-data">
			    <div class="row">
			        <div class="col-md-6 mb-3">
			            <label for="name" class="form-label text-white"><b>Nome:</b></label>
			            <input required type="text" class="form-control" id="name" name="name" th:value="${genre.name}">
			        </div>
                </div>
				<div class="row">
			        <div class="col-md-6 mb-3">
			            <label for="iconImage" class="form-label text-white"><b>Icona:</b></label>
			            <input type="file" name="icon" class="form-control" id="iconImage" accept="icon/png, icon/jpeg, icon/jpg">
			        </div>
					<div class="col-md-6 mb-3">
			            <label for="backgroundImage" class="form-label text-white"><b>Sfondo:</b></label>
			            <input type="file" name="background" class="form-control" id="backgroundImage" accept="background/png, background/jpeg, background/jpg"> 
			        </div>
			    </div>
			    <div>
			        <button type="submit" class="btn btn-success">Conferma</button>
			    </div>
			</form>
		</div>
	</body>
</html>
