<!DOCTYPE html>
<html>
	<head>
		<title>
			Nuova Recensione
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/form_new_developer_style.css" />		
	</head>

	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			
			<h1 class="mb-4">
			    <span class="ms-2">Nuova Recensione </span>
			</h1>
			
			<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
				<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
			  		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				</symbol>
		  	</svg>
	
			<form th:action="@{'/default/newReview/' + ${gameId} + '/' + ${currentUser.id}}" method="POST" th:object="${review}" class="mb-4">
			  	
			  	<div th:if="${#fields.hasGlobalErrors()}" style="margin-right: 25%; margin-left: 25%; margin-top: 3%;" class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
					<div>
						<p th:each="err:${#fields.globalErrors()}" th:text="${err}"> Errore </p>
					</div>
			  	</div>
			  	
			    <div class="row">
			        <div class=" col-md-6 mb-3">
			            <label for="name" class="form-label"><b>Titolo:</b></label>
			            <input required type="text" class="form-control" id="title" th:field="${review.title}">
			            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
			        </div>
			    	<div class="col-md-6 mb-3">
			       		 <label for="score" class="form-label"><b>Valutazione:</b></label>
			       		 <input type="number" required min="1" max="5" class="form-control" id="score"  th:field="${review.score}">
			   		 </div>
			        <div class=" mb-3">
			            <label for="yearOfFoundation" class="form-label"><b>Recensione:</b></label>
			            <textarea required type="text" rows="5" class="form-control" id="body" th:field="${review.body}"></textarea>
			            <div class="invalid-feedback" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div>
			        </div>
			        <button type="submit" class="btn btn-primary mt-3">Conferma</button>
			    </div>
			</form>
		</div>
	</body>
</html>