<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Footer fragment</title>
	</head>
	
	<th:block th:fragment="footer">
		
		<footer class="text-center text-lg-start text-muted w-100 " style="background-color: #101010 ; ">
		  <section class="d-flex justify-content-center align-items-center w-100" >
		    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4 mb-4 d-flex w-100 justify-content-center">
		      <ul class="rounded-3 list-group list-group-flush" style="margin-right: 1%;">
		        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgb(208, 208, 208);">
		          <div class="d-flex align-items-center">
		            <img src="https://avatars.githubusercontent.com/u/118002766?v=4" class="rounded-circle" alt=""
					style="width: 45px; height: 45px" />
		            <div class="ms-3">
		              <p class="fw-bold mb-1">Diego Boi</p>
		              <p class="text-muted mb-0">die.boi@stud.uniroma3.it</p>
		            </div>
		          </div>
		          <a href="https://github.com/FlexB0i"><i class="fab fa-github fa-lg"></i></a>
		        </li>
		        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgb(208, 208, 208);">
		          <div class="d-flex align-items-center">
		            <img src="https://avatars.githubusercontent.com/u/118002177?v=4" class="rounded-circle" alt=""
		              style="width: 45px; height: 45px" />
		            <div class="ms-3">
		              <p class="fw-bold mb-1">Massimo D'Alessandro</p>
		              <p class="text-muted mb-0">mas.dalessandro2@stud.uniroma3.it</p>
		            </div>
		          </div>
		          <a href="https://github.com/massidale"><i class="fab fa-github fa-lg" style="margin-left: 30px;"></i></a>
		        </li>
		        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgb(208, 208, 208);">
		          <div class="d-flex align-items-center">
		            <img src="https://avatars.githubusercontent.com/u/79798082?v=4" class="rounded-circle" alt=""
		              style="width: 45px; height: 45px" />
		            <div class="ms-3">
		              <p class="fw-bold mb-1">Gabriel Pentimalli</p>
		              <p class="text-muted mb-0">gab.pentimalli@stud.uniroma3.it</p>
		            </div>
		          </div>
		          <a href="https://github.com/Nova-J5"><i class="fab fa-github fa-lg"></i></a>
		        </li>
		      </ul>
		    </div>
		  	

		  </section>
		  <div class="text-center mb-4 mt-4" style="color: white;">
		    	© 2023 SIW Game
		  </div>

		  
		</footer>
	</th:block>
</html>