<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Footer fragment</title>
	</head>
	
	<th:block th:fragment="footer">
		
		<footer class="text-center text-lg-start bg-light text-muted">
		  <section class="d-flex justify-content-center align-items-center">
		    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4 mb-4">
		      <ul class="list-group list-group-flush float-end container-fluid">
		        <li class="list-group-item justify-content-between align-items-center">
		          <div class="d-flex align-items-center">
		            <img src="https://avatars.githubusercontent.com/u/118002766?v=4" alt="" style="width: 45px; height: 45px"
		              class="rounded-circle" />
		            <div class="ms-3">
		              <p class="fw-bold mb-1">Diego Boi</p>
		              <p class="text-muted mb-0">die.boi@stud.uniroma3.it</p>
		            </div>
		          </div>
		          <a class="btn btn-link btn-rounded btn-sm" href="https://github.com/FlexB0i" role="button">GitHub</a>
		        </li>
		        <li class="list-group-item d-flex justify-content-between align-items-center">
		          <div class="d-flex align-items-center">
		            <img src="https://avatars.githubusercontent.com/u/118002177?v=4" class="rounded-circle" alt=""
		              style="width: 45px; height: 45px" />
		            <div class="ms-3">
		              <p class="fw-bold mb-1">Massimo D'Alessandro</p>
		              <p class="text-muted mb-0">mas.dalessandro2@stud.uniroma3.it</p>
		            </div>
		          </div>
		          <a class="btn btn-link btn-rounded btn-sm" href="https://github.com/massidale" role="button">GitHub</a>
		        </li>
		        <li class="list-group-item d-flex justify-content-between align-items-center">
		          <div class="d-flex align-items-center">
		            <img src="https://avatars.githubusercontent.com/u/79798082?v=4" class="rounded-circle" alt=""
		              style="width: 45px; height: 45px" />
		            <div class="ms-3">
		              <p class="fw-bold mb-1">Gabriel Pentimalli</p>
		              <p class="text-muted mb-0">gab.pentimalli@stud.uniroma3.it</p>
		            </div>
		          </div>
		          <a class="btn btn-link btn-rounded btn-sm" href="https://github.com/Nova-J5" role="button">GitHub</a>
		        </li>
		      </ul>
		    </div>
		  </section>
		  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		    © 2023 SIW Game
		  </div>
		</footer>
	</th:block>
</html>