<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Navbar fragment</title>
</head>
	<th:block th:fragment="navbar">
		
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		    <div class="container-fluid">
		        <a href="/">
		            <img class="logo" src="/images/navbar-logo.png" width="40%" alt="logo" />
		        </a>		    
		        <div class="collapse navbar-collapse" id="navbarCollapse">
					<form class="d-flex justify-content-center" role="search" th:action="@{/searchGames}" method="post">
                		<input class="form-control me-2" type="text" name="str" placeholder="Cerca gioco per nome, piattaforma o genere" aria-label="Search">
                		<button class="btn btn-outline-success" type="submit">
 							<i class="fas fa-search"></i>						
  						</button>
            		</form>
            		<ul class="navbar-nav ms-auto mb-2 mb-md-0">
		                <li class="nav-item">
		                    <a class="nav-link" href="/games">Giochi</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="/platforms">Piattaforme</a>
		                </li> 
		                <li class="nav-item">
		                    <a class="nav-link" href="/developers">Sviluppatori</a>
		                </li>	
		                <li class="nav-item" th:if="${userDetails}">
		                    <a class="nav-link">
		                        <span th:text="${userDetails.username}"></span>
		                    </a>
		                </li>
		                <li class="nav-item" th:if="${userDetails}">
							<a class="nav-link" href="/logout">Logout</a>
		                </li>
		                <li class="nav-item" th:unless="${user}">
		                    <a class="nav-link" href="/login">Login</a>
		                </li>	
		            </ul>
		        </div>
		    </div>
		</nav>
		
	</th:block>
</html>