.carosello{
    display: flex;
    justify-content: center;
}

.carousel{
    width: 100%;
}

.carousel-item img{
    height: 500px;
}

.blocco-carosello{
    margin-top: 3%;
    background-color: #272727;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

body{
    background-color: #323232;;
    color: white;
}

.blocco-generi{
    background-color: #272727;
}
