.carosello{
    display: flex;
    justify-content: center;
}

.carousel{
    width: 100%;
}

.carousel-item img{
    height: 500px;
}

.blocco-carosello{
    margin-top: 3%;
    background-color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
}

body{
    background-color: #eee;
}