body { 
    font-family: "barlow,arial,sans-serif";
    background-color: #323232;
    color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    bottom: auto;
}

.container {
	margin: 0;
	padding: 0;
}

.row{
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-item a:hover{
    color: rgb(217, 217, 217);
}