<!DOCTYPE html>
<html>
	<head>
		<title>
			Sviluppatore
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/developer_style.css"/>		
	</head>

	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
	
	    <div th:if="${developer}">
		    <h1 th:text="${developer.name}"></h1>
		    <p th:text="${developer.description}"></p>
	        <div>Anno di fondazione: <span th:text="'(' + ${developer.yearOfFoundation} + ')'"></span></div>
	    
	   	 	<div th:if="${developer.image} != null">
				<img th:src="@{'/display/image/' + ${developer.image.id}}" width=50% />
	        	</div>
	        	<div th:if="${developer.image} == null">
	        	<img src="/images/image-not-available.jpeg" />
	        </div>
	        
	    	<span th:if= "${!developer.gamesProduced.isEmpty()}">
		        <h2>Giochi</h2>
	        	<li th:each="game : ${developer.gamesProduced}">
			        <a th:href="@{'/game/' + ${game.id}}" th:text="${game.title}"> gioco </a>   	
				</li>
	   	 	</span>
	    <div th:unless="${developer}">Non esiste</div>
	 </body>
</html>