<!DOCTYPE html>
<html>

<head>
	<title>
		New Game
	</title>
	<link rel="stylesheet" href="/stile.css?version=3" />
</head>

<body>
	<h1>Aggiungi un gioco</h1>
	<form th:action="@{/games}" method="POST" th:object="${game}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div>
			<label for="titolo">Titolo:</label> <span><input required type="text" th:field="${game.title}" id="titolo"/></span>
		</div>

		<div>
			<label for="anno">Anno:</label> <span><input required type="text" th:field="${game.year}" id="anno"/></span>
		</div>

		<div>
			<label for="urlImmagine">URL immagine:</label> <span><input type="url" th:field="${game.urlImage}" id="urlImmagine" /></span>
		</div>
		
		<div>
			<label for="descrizione">Descrizione:</label> <span><input required type="text" th:field="${game.description}" id="descrizione"/></span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>