<!DOCTYPE html>
<html>
	<head>
		<title>
			Gioco
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/game_style.css"/>		
	</head>

	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
	
	    <div th:if="${game}">
		    <h1 th:text="${game.title}"></h1>
		    <p th:text="${game.description}"></p>
	        <div>Anno di rilascio: <span th:text="'(' + ${game.year} + ')'"></span></div>
	        <span th:if= "${!game.genres.isEmpty()}">
		        <h1>Generi</h1>
	        	<li th:each="genre : ${game.genres}">
			        <a th:href="@{'/genre/' + ${genre.id}}" th:text="${genre.name}"> Genere </a>   	
				</li>
	    	</span>
	    	<span th:if= "${!game.platforms.isEmpty()}">
		        <h1>Piattaforme</h1>
	        	<li th:each="platform : ${game.platforms}">
			        <a th:href="@{'/platform/' + ${platform.id}}" th:text="${platform.name}"> Piattaforma </a>   	
				</li>
	    	</span>
	    <div th:unless="${game}">Non esiste</div>
	 </body>
</html>
