<!DOCTYPE html>
<html>
	<head>
		<title>
			Lista Giochi
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/games_style.css" />		
	</head>
	
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<h1>Giochi</h1>
		<div th:if="${games==null || games.isEmpty()}">Non ci sono giochi nel sistema</div>
		<ul>
			<li th:each="game : ${games}">
				<a th:href="@{'/game' + '/' + ${game.id}}"
					th:text="${game.title} + ' (' + ${game.year} + ')'">Up! (2000)</a>
			</li>
		</ul>
		
	</body>
</html>
