<!DOCTYPE html>
<html>
	<head>
		<title>
			Genere
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/genre_style.css" />		
	</head>

	<body>
		
		<div th:replace="fragments/navbar :: navbar"></div>

		

	    <div th:if="${genre}">
		    <h1 th:text="${genre.name}"></h1>
		    <p th:text="${genre.description}"></p>
	        <span th:if= "${!genre.games.isEmpty()}">
	        	<li th:each="game : ${genre.games}">
			        <p1 th:text=" 'Giochi: ' + ${game.title}"></p1>   	
				</li>
	    	</span>
	    <div th:unless="${genre}">Non esiste</div>
	 </body>
</html>