<!DOCTYPE html>
<html>
	<head>
		<title>
			Lista Generi
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/genres_style.css" />		
	</head>
	
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<h1>Generi</h1>
			<div th:if="${genres==null || genres.isEmpty()}">Non ci sono generi nel sistema</div>
			<ul>
				<li th:each="genre : ${genres}">
					<a th:href="@{'/genre' + '/' + ${genre.id}}"
						th:text="${genre.name}"></a>
				</li>
			</ul>
		</div>
		
	</body>
	
</html>