<!DOCTYPE html>
<html>
	<head>
		<title>
			Genere
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/genre_style.css" />		
	</head>

	<body>
		
		<div th:replace="fragments/navbar :: navbar"></div>

		

	    <div th:if="${genre}">
		    <h1 th:text="${genre.name}"></h1>
		    <h5 th:text="${genre.description}"></h5>
		    
	        <span th:if= "${!genre.games.isEmpty()}">
	        	<h2>Giochi</h2>
	        	<li th:each="game : ${genre.games}">
			        <a th:href="@{'/game/' + ${game.id}}" th:text="${game.title}"></a>   	
				</li>
	    	</span>
	    <div th:unless="${genre}">Non esiste</div>
	 </body>
</html>