<!DOCTYPE html>
<html>
	<head>
		<title>
			Lista Generi
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/genres_style.css" />		
	</head>
	
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		    <div class="container-fluid">
		        <a href="/">
		            <img class="logo" src="/images/navbar-logo.png" width="40%" alt="logo" />
		        </a>		    
		        <div class="collapse navbar-collapse" id="navbarCollapse">
					<form class="d-flex justify-content-center" role="search" th:action="@{/searchGames}" method="post">
                		<input class="form-control me-2" type="text" name="str" placeholder="Cerca" aria-label="Search">
                		<button class="btn btn-outline-success" type="submit">Cerca</button>
            		</form>
            		<ul class="navbar-nav ms-auto mb-2 mb-md-0">
		                <li class="nav-item">
		                    <a class="nav-link" href="/games">Giochi</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="/platforms">Piattaforme</a>
		                </li> 
		                <li class="nav-item" th:if="${userDetails}">
		                    <a class="nav-link">
		                        <span th:text="${userDetails.username}"></span>
		                    </a>
		                </li>
		                <li class="nav-item" th:if="${userDetails}">
							<a class="nav-link" href="/logout">Logout</a>
		                </li>
		                <li class="nav-item" th:unless="${user}">
		                    <a class="nav-link" href="/login">Login</a>
		                </li>	
		            </ul>
		        </div>
		    </div>
		</nav>
		
		<h1>Generi</h1>
		<div th:if="${genres==null || genres.isEmpty()}">Non ci sono generi nel sistema</div>
		<ul>
			<li th:each="genre : ${genres}">
				<a th:href="@{'/genre' + '/' + ${genre.id}}"
					th:text="${genre.name}"></a>
			</li>
		</ul>
		
		
		
	</body>
	
</html>