<!DOCTYPE html>
<html>
	<head>
		<title>
			SiwGame - Homepage
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/index_style.css" />		
	</head>
	
	<body>	
		<div th:replace="fragments/navbar :: navbar"></div>
		<a href="/admin/formNewGame">Crea un nuovo gioco (per i test)</a>	
		<a href="/admin/formNewGenre">Crea un nuovo genere (per i test)</a>	
		<a href="/admin/formNewPlatform">Crea una nuova piattaforma (per i test)</a>
		<a href="/admin/formNewDeveloper">Crea un nuovo sviluppatore (per i test)</a>	
	

		<div class="blocco-carosello rounded-3 mb-4 mt-4" th:if="${!platforms.isEmpty() || platformActive!=null}">
			<div class="carosello">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a th:href="@{'/platform/' + ${platformActive.id}}"> 
								<div th:if="${platformActive.image} != null">
									<img th:src="@{'/display/image/' + ${platform.image.id}}" class="d-block w-100" />
								</div>
								<div th:if="${platformActive.image} == null">
									<img src="/images/image-not-available.jpeg" class="d-block w-100" />
								</div> 
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 th:text="${platformActive.name}">Piattaforma</h5>
								<p th:text="${platformActive.carouselDescription}"> Breve descrizione </p>
							</div>
						</div>

						<div th:each="platform : ${platforms}" class="carousel-item">
							<a th:href="@{'/platform/' + ${platform.id}}"> 
								<div th:if="${platform.image} != null">
									<img th:src="@{'/display/image/' + ${platform.image.id}}" class="d-block w-100" />
								</div>
								<div th:if="${platform.image} == null">
									<img src="/images/image-not-available.jpeg" class="d-block w-100" />
								</div> 
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 th:text="${platform.name}">Piattaforma</h5>
								<p th:text="${platform.carouselDescription}"> Breve descrizione </p>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Next</span>
					</button>
				  </div>
			</div>
		</div>
	    <div th:replace="fragments/footer :: footer"></div>
	</body>
</html>

