<!DOCTYPE html>
<html>
	<head>
		<title>
			SiwGame - Homepage
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/index_style.css" />		
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	
	<body>		
		<header class="container-fluid shadow-sm">
			<div class="row">
				<div class="col h2 header-col text-start text-decoration-underline">
					<a href="/">
						<img class="logo" src="siw-game-logo.png" alt="logo" />
					</a>
				</div>
				<div class="col h2 header-col text-center">
                    <form role="search" th:action="@{/searchGames}" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="str" placeholder="Cerca gioco per nome, piattaforma o genere" aria-label="Search" aria-describedby="basic-addon1">
                            <span class="input-group-text" id="basic-addon1"> 
                                <button type="submit" class="btn" > 
                                    <img src="lente.png"> 
                                </button> 
                            </span>
                          </div>
                    </form>
                </div>
				<div class="col">
					<ul class="list-group list-group-horizontal list-group-header">
						<li class="list-group-item elemento-lista-header border-0" th:if="${userDetails}" >
							<a>
								<span th:text="${userDetails.username}"> username</span>
							</a>
						</li>
						<li class="list-group-item elemento-lista-header border-0" th:if="${userDetails}">
							<a href="/logout">Logout</a>
						</li>
						<li class="list-group-item elemento-lista-header lista-header border-0" th:unless="${user}" >
							<a href="/login">Login</a>
						</li>
						<li class="list-group-item elemento-lista-header border-0">
							<a href="/games">Giochi</a>
						</li>
						<li class="list-group-item elemento-lista-header border-0">
							<a href="/platforms">Piattaforme</a>
						</li> 
						<li class="list-group-item elemento-lista-header border-0">
							<a href="/developers">Sviluppatori</a>
						</li> 
					</ul>
				</div>
			</div>
		</header>
		
	    
	    
	</body>
</html>

