<!DOCTYPE html>
<html>
	<head>
		<title>
			SiwGame - Homepage
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/index_style.css" />		
	</head>
	
	<body >	
		<div th:replace="fragments/navbar :: navbar"></div>
		
			<div th:if="${currentUser != null && currentUser.isAdmin()}">
				<div class="text-center" >
					<h1 class="mt-3 mb-1">Operazioni per gli amministratori</h1>
					<div class="container-fluid mt-4" style="width: 60%;">
						<div class="row">
							<a href="/admin/formNewGame" class="btn btn-success col">
								<i class="fas fa-gamepad"></i>
								Nuovo Gioco
							</a>
							<a href="/admin/formNewGenre" class="btn btn-warning col">
								<i class="fas fa-cloud"></i>
								Nuovo Genere
							</a>
							<a href="/admin/formNewPlatform" class="btn btn-secondary col">
								<i class="fas fa-laptop"></i>
								Nuova Piattaforma
							</a>
							<a href="/admin/formNewDeveloper" class="btn btn-info col">
								<i class="fas fa-code"></i>
								Nuovo Sviluppatore
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="blocco-carosello rounded-3 mb-4 mt-4" th:if="${!platforms.isEmpty() || platformActive!=null}" >
				<div class="carosello">
					<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<a th:href="@{'/platform/' + ${platformActive.id}}"> 
									<div th:if="${platformActive.image} != null">
										<img th:src="@{'/display/image/' + ${platformActive.image.id}}" class="d-block w-100" />
									</div>
									<div th:if="${platformActive.image} == null">
										<img src="/images/image-not-available.jpeg" class="d-block w-100" />
									</div> 
								</a>
								<div class="carousel-caption d-none d-md-block rounded-3" style="color: black; background-color: rgba(255, 255, 255, 0.144);">
									<h5 class="fw-bolder" th:text="${platformActive.name}">Piattaforma</h5>
									<p th:text="${platformActive.carouselDescription}"> Breve descrizione </p>
								</div>
							</div>
	
							<div th:each="platform : ${platforms}" class="carousel-item">
								<a th:href="@{'/platform/' + ${platform.id}}"> 
									<div th:if="${platform.image} != null">
										<img th:src="@{'/display/image/' + ${platform.image.id}}" class="d-block w-100" />
									</div>
									<div th:if="${platform.image} == null">
										<img src="/images/image-not-available.jpeg" class="d-block w-100" />
									</div> 
								</a>
								<div class="carousel-caption d-none d-md-block rounded-3" style="color: black; background-color: rgba(255, 255, 255, 0.144);">
									<h5 class="fw-bolder" th:text="${platform.name}">Piattaforma</h5>
									<p th:text="${platform.carouselDescription}"> Breve descrizione </p>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Next</span>
						</button>
					  </div>
				</div>
			</div>
			<div class="blocco-generi ">
				<div class="text-center mt-3 h1" >Generi</div>
				<div class="container-fluid">
					<ul th:if="${genres!=null && !genres.isEmpty()}" class="row">
						<li class="card col-lg-3 col-md-4 col-sm-6 m-3 " th:each="genre : ${genres}" style="margin-right: 10%; background-color: #323232;">
							<a th:href="@{'/genre' + '/' + ${genre.id}}">
								<div th:if="${genre.backgroundImage} != null" class="card-img-top">
									<img th:src="@{'/display/image/' + ${genre.backgroundImage.id}}" class="d-block w-100"/>
								</div>
								<div th:if="${genre.backgroundImage} == null" class="card-img-top" >
									<img src="/images/image-not-available.jpeg" class="d-block w-100" />
								</div>
							</a>
							<h5 class="card-body" style="color: white;" th:text="${genre.name}"> </h5>
						</li>
					</ul>
				</div>
			</div>
			
			<h1 class="text-center mt-4">Top Sviluppatori</h1>
			<div class="container-fluid mb-4 mt-2">
				<div class="row text-center">
					<div class="col">
						<div class="card" style="background-color: #101010;" >
							<a href="/developer/101"> <img src="/images/microsoft.png" height="250px" class="card-img-top d-block w-100" alt="..."> </a>
							<div class="card-body" style="color: white;">
							  <h5 class="card-title fw-bold">Microsoft</h5>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card" style="background-color: #101010;" >
							<a href="/developer/1"> <img src="/images/nintendo logo lungo.png" height="250px" class="card-img-top d-block w-100" alt="..."> </a>
							<div class="card-body" style="color: white;">
							  <h5 class="card-title fw-bold">Nintendo</h5>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card" style="background-color: #101010;" >
							<a href="/developer/51"> <img src="/images/sony.jpg" height="250px" class="card-img-top d-block w-100" alt="..."> </a> 
							<div class="card-body" style="color: white;">
							  <h5 class="card-title fw-bold">Sony</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	
	    <div th:replace="fragments/footer :: footer"></div>
	</body>
</html>

