<!DOCTYPE html>
<html>
	<head>
		<title>
			Piattaforma
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/platform_style.css" />		
	</head>

	<body>
		
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<div th:if="${platform}">
				<div class="row">
					    <h1 class="mt-2" th:text="${platform.name}">Titolo Piattaforma</h1>
				        <div>Anno di rilascio: <b><span th:text="${platform.yearOfRelease}">2000</span></b></div>
				    	 <div class="mt-2" th:if="${platform.image} != null">
							<img th:src="@{'/display/image/' + ${platform.image.id}}" width=50% />
				        	<div th:if="${currentUser != null && currentUser.isAdmin()}">
								<a th:href="@{'/admin/removeImageFromPlatform/' + ${platform.id}}"><button type="button" class="btn btn-warning my-3"> Rimuovi immagine </button></a>
							</div>
				        </div>
				        <div class="mt-2" th:if="${platform.image} == null">
				        	<img src="/images/image-not-available.jpeg" />
							<div th:if="${currentUser != null && currentUser.isAdmin()}">
								<div>Aggiungi una foto della piattaforma</div>
					        	<form method="POST" enctype="multipart/form-data" th:action="@{'/admin/addImageToPlatform/' + ${platform.id}}">
					        		<input type="file" name="file" class="my-2 form-control" style="max-width: 280px;" required />
				        			<button type="submit" class="btn btn-success">Aggiungi immagine</button>
				        		</form>
							</div>
				        </div>
					    <p class="mt-2" th:text="${platform.description}"></p>
						<div th:if="${currentUser != null && currentUser.isAdmin()}">
							<a th:href="@{'/admin/updatePlatform/' + ${platform.id}}" >modifica dati piattaforma </a><br>
						</div>
					    
						<span th:if= "${platform.developer != null}">
							<p><b>Sviluppatore: </b><a th:href="@{'/developer/' + ${platform.developer.id}}" th:text="${platform.developer.name}"></a></p>	
				    	</span>
				</div>
				<div class="row">
					<h2 class="mb-3 mt-3">Giochi</h2>
				</div>
				<div class="row">
					<div class=" d-flex row row-cols-1 row-cols-md-3" th:if= "${!platform.games.isEmpty()}">
					    <div class="col mb-4" th:each="game : ${platform.games}">
					        <!-- Carta -->
					        <div class="card">
					            <!-- Immagine-->
					            <div class="view overlay">
									<a th:href="@{'/game/' + ${game.id}}">   
										<div th:if="${game.image} != null">
											<img th:src="@{'/display/image/' + ${game.image.id}}" class="card-img-top"/>
										</div>
										<div th:if="${game.image} == null">
											<img src="/images/image-not-available.jpeg" class="card-img-top" />
										</div>
									</a>
					            </div>
					            <!-- Contenuto della carta -->
					            <div class="card-body">
					                <!-- Titolo -->
					                <h4 class="card-title"  th:text="${game.title} + ' (' + ${game.year} + ')'"></h4>
					                <!-- Descrizione -->
					                <p class="card-text" th:text="${game.description}"></p>
					            </div>
					        </div>
					        <!-- Fine carta -->
					    </div>
					</div>
				</div>
			</div>
			<div th:if="${currentUser != null && currentUser.isAdmin()}">
					<div class="d-flex">
				    	<div>
							<a th:href="@{'/admin/updatePlatform/' + ${platform.id}}"><button type="button" class="mt-4 mb-2 btn btn-warning">Modifica Piattaforma</button></a>
						</div>		
						<div>
							<a th:href="@{'/admin/deletePlatform/' + ${platform.id}}"><button type="button" class="mt-4 mb-2 btn btn-danger">Elimina Piattaforma</button></a>
						</div>	
					</div>	
					<br>
			</div>
			<div th:unless="${platform}">Non esiste</div>
		</div>
	 </body>
</html>
