<!DOCTYPE html>
<html>
	<head>
		<title>
			Lista Piattaforme
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/platforms_style.css"/>		
	</head>
	
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<h1>Piattaforme</h1>
		<div th:if="${platforms==null || platforms.isEmpty()}">Non ci sono piattaforme nel sistema</div>
		<ul>
			<li th:each="platform : ${platforms}">
				<a th:href="@{'/platform' + '/' + ${platform.id}}"
					th:text="${platform.name} + ' (' + ${platform.yearOfRelease} + ')'">Up! (2000)</a>
			</li>
		</ul>
		
	</body>
	
</html>