<!DOCTYPE html>
<html>
	<head>
		<title>
			Lista Piattaforme
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/platforms_style.css"/>		
	</head>
	
	<body style="background-color: #eee;">
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
	        <div th:each="developer : ${developers}">
	            <div th:if="${developer.platformsProduced != null && !developer.platformsProduced.isEmpty()}">
	                <h1 class="mt-2" th:text="${developer.name}"></h1>
	                <div class="row row-cols-3">
	                    <div class="col mb-4" th:each="platform : ${developer.platformsProduced}">
	                      <!-- Carta -->
	                      <div class="card">
	                        <!--Immagine-->
	                        <div class="view overlay">
							  <a th:href="@{'/platform' + '/' + ${platform.id}}">
		                        <div th:if="${platform.image} != null">
		                          <img th:src="@{'/display/image/' + ${platform.image.id}}" height="230px" class="card-img-top d-block w-100"/>
		                        </div>
							  </a>
							  <a th:href="@{'/platform' + '/' + ${platform.id}}">
		                        <div th:if="${platform.image} == null" >
		                            <img src="/images/image-not-available.jpeg" class="card-img-top d-block w-100"/>
		                        </div>
							  </a>
	                        </div>
	                        <!-- Contenuto -->
	                        <div class="card-body">
	                          <!-- Titolo e anno di rilascio -->
	                          <h4 class="card-title" th:text="${platform.name} + ' (' + ${platform.yearOfRelease} + ')'"></h4>
	                        </div>
	                      </div>
	                      <!-- Fine Carta -->
	                    </div>
	                  </div>
	            </div>
	        </div>
		</div>
	</body>
</html>