<!DOCTYPE html>
<html>
	<head>
		<title>
			Piattaforma
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/platform_style.css" />		
	</head>

	<body>
		
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<span th:if="${platform}">
				    <h1 th:text="${platform.name}">Titolo Piattaforma</h1>
				    <h5 th:text="${platform.description}"></h5>
				    
			        <div>Anno: <span th:text="'(' + ${platform.yearOfRelease} + ')'">2000</span></div>
			    <div th:unless="${platform}">Non esiste</div>
			    
			    <span th:if= "${!platform.games.isEmpty()}">
				        <h2>Giochi</h2>
			        	<li th:each="game : ${platform.games}">
					        <a th:href="@{'/game/' + ${game.id}}" th:text="${game.title}"> Gioco </a>   	
						</li>
			    	</span>
			    	<span th:if= "${platform.developer != null}">
				        <h1>Sviluppatore</h1>
					        <a th:href="@{'/developer/' + ${platform.developer.id}}" th:text="${platform.developer.name}"> Sviluppatore </a>   	
			    	</span>
			    	
			    	 <div th:if="${platform.image} != null">
						<img th:src="@{'/display/image/' + ${platform.image.id}}" width=50% />
			        	<div th:if="${currentUser != null && currentUser.isAdmin()}">
							<a th:href="@{'/admin/removeImageFromPlatform/' + ${platform.id}}"><button type="button" class="btn btn-success my-3"> Rimuovi immagine </button></a>
						</div>
			        </div>
			        <div th:if="${platform.image} == null">
			        	<img src="/images/image-not-available.jpeg" />
						<div th:if="${currentUser != null && currentUser.isAdmin()}">
							<div>Aggiungi una foto della piattaforma</div>
				        	<form method="POST" enctype="multipart/form-data" th:action="@{'/admin/addImageToPlatform/' + ${platform.id}}">
				        		<input type="file" name="file" class="my-2 form-control" style="max-width: 280px;" required />
			        			<button type="submit" class="btn btn-success">Aggiungi immagine</button>
			        		</form>
						</div>
			        </div>
		</div>
	    	
	 </body>
</html>
