<!DOCTYPE html>
<html>
	<head>
		<title>
			Lista Piattaforme
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/platforms_style.css"/>		
	</head>
	
	<body style=" background-color: #323232;  color: white;">
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container mt-4" >
	        <div th:each="developer : ${developers}" class="mb-4">
	            <div th:if="${developer.platformsProduced != null && !developer.platformsProduced.isEmpty()}">
	                <h1 style="margin-bottom: 2%;" th:text="${developer.name}"></h1>
	                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 bloccoPiattaforme rounded-2">
	                    <div class="col mb-4" th:each="platform : ${developer.platformsProduced}">
	                      <!-- Carta -->
	                      <div class="card h-100" style="background-color: #101010;">
	                        <!--Immagine-->
	                        <div class="view overlay">
							  <a th:href="@{'/platform' + '/' + ${platform.id}}">
		                        <div th:if="${platform.image} != null">
		                          <img th:src="@{'/display/image/' + ${platform.image.id}}" height="250px" class="card-img-top d-block w-100"/>
		                        </div>
							  </a>
							  <a th:href="@{'/platform' + '/' + ${platform.id}}">
		                        <div th:if="${platform.image} == null" >
		                            <img src="/images/image-not-available.jpeg" height="250px" class="card-img-top d-block w-100"/>
		                        </div>
							  </a>
	                        </div>
	                        <!-- Contenuto -->
	                        <div class="card-body" style="color: white;" >
	                          <!-- Titolo e anno di rilascio -->
	                          <h4 class="card-title text-center" th:text="${platform.name} + ' (' + ${platform.yearOfRelease} + ')'"></h4>
	                        </div>
	                      </div>
	                      <!-- Fine Carta -->
	                    </div>
	                  </div>
	            </div>
	        </div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>