<!DOCTYPE html>
<html>
	<head>
		<title>
			Giochi Recensiti
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/user_games_style.css" />		
	</head>
	
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<!-- Lista recensioni vuota -->
			<div th:if="${reviews==null || reviews.isEmpty()}"><h1 class="mt-5 mb-5">Non ci sono giochi recensiti dall'utente</h1></div>
			<!-- Lista recensioni non vuota -->
			<div class="row row-cols-1 row-cols-md-2" th:if="${reviews!=null && !reviews.isEmpty()}">
				<!-- Scorro la lista delle recensioni -->
			    <div class="col mb-4" th:each="review : ${reviews}">
			      <!-- Inizio carta -->
			      <div class="card">
			        <!-- Immagine del gioco -->
			        <div class="view overlay">
			          <div th:if="${review.game.image} != null">
			            <a th:href="@{'/game' + '/' + ${review.game.id}}" class="mask rgba-white-slight">
			                <img class="card-img-top" th:src="@{'/display/image/' + ${review.game.image.id}}" width=50% />
			            </a>
			          </div>
			          <div th:if="${review.game.image} == null">
			            <a th:href="@{'/game' + '/' + ${review.game.id}}" class="mask rgba-white-slight">
			                <img class="card-img-top" src="/images/image-not-available.jpeg" />
			            </a>
			          </div>
			        </div>
			        <!-- Contenuto della carta -->
			        <div class="card-body">
			          <!--Titolo recensione -->
			          <span th:utext="${review.game.printStars(review.score)}"></span>
			          <h4 class="card-title" th:text="${review.title}"></h4>
			          <!-- Testo recensione -->
			          <p class="card-text" th:text="${review.body}" ></p>
			        </div>
			      </div>
			      <!-- Fine carta -->
			    </div>
			</div>
		</div> <!-- Container -->
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>