<!DOCTYPE html>
<html>

	<head>
		<title>
			Giochi Trovati
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/found_games_style.css" />
	</head>

	<body style=" background-color: #323232;  color: white;">
		<div th:replace="fragments/navbar :: navbar"></div>
	
		<div class="container">
			<!-- Lista recensioni vuota -->
			<div th:if="${reviews==null || reviews.isEmpty()}">
				<h1 class="mt-5 mb-5 text-center fw-bold fst-italic" style="background-color: #272727; padding: 2%;" >Non hai ancora recensito nessun gioco!</h1>
			</div>
			<!-- Lista recensioni non vuota -->
			<div class="mt-4 mb-2" th:if="${reviews!=null && !reviews.isEmpty()}">
				<h1>Giochi recensiti da <span th:text="${currentUser.name}"></span></h1>
			</div>
			<div class="mt-3 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 justify-content-start">
				<div class="col mb-4" th:each="review : ${reviews}">
					<!-- Carta -->
					<div class="card h-100" style="background-color: #101010;">
						<!--Immagine-->
						<div class="view overlay">
							<a th:href="@{'/game' + '/' + ${review.game.id}}">
								<div th:if="${review.game.imageForGames} != null">
									<img th:src="@{'/display/image/' + ${review.game.imageForGames.id}}" height="200px"
										class="card-img-top d-block w-100" />
								</div>
							</a>
							<a th:href="@{'/game' + '/' + ${review.game.id}}">
								<div th:if="${review.game.imageForGames} == null">
									<img src="/images/image-not-available.jpeg" height="200px"
										class="card-img-top d-block w-100" />
								</div>
							</a>
						</div>
						<!-- Contenuto della carta -->
						<div class="card-body text-center" style="color: white;">
							<!--Titolo recensione -->
							<span th:utext="${review.game.printStars(review.score)}"></span>
							<h4 class="card-title" th:text="${review.title}"></h4>
							<!-- Testo recensione -->
							<p class="card-text" th:text="${review.body}"></p>
						</div>
					</div>
					<!-- Fine Carta -->
				</div>
			</div>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>