body { 
    font-family: "Geneva";
    color:dimgrey;
}

.elemento-lista-header{
    margin-left: -2.9%;
    margin-right: -0.5%;
}

.elemento-lista-header a{
    text-decoration: none; 
    color: darkgrey;
}

.elemento-lista-header a:hover{
    text-decoration: underline;
    color: rgb(208, 208, 208);
}

.list-group-header{
    margin-left: 17%;
}

header{
    background-color: #966fd6;
}

header img{
    width: 20%;
}

.mb-3 img{
    width: 20px;
}

.header-col form{
    margin-top: 20px;

}

.row{
    height: 100%;
    align-items: center;
    justify-content: center;
}
