<!DOCTYPE html>
<html>
	<head>
		<title>
			Utente
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/user_style.css" />		
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<section class="h-100 gradient-custom-2">
			  <div class="container py-5 h-100">
			    <div class="row d-flex justify-content-center align-items-center h-100">
			      <div class="col col-lg-9 col-xl-7">
			        <div class="card">
			          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
			            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
							<div th:if="${user.image} != null">
								<img th:src="@{'/display/image/' + ${user.image.id}}"  
									alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
			                		style="width: 150px; z-index: 1"/>
					        </div>
			              <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
			                style="z-index: 1;">
			                <a th:href="@{'/formUpdateUser/' + ${user.id}}">Modifica Profilo</a>
			              </button>
			            </div>
			            <div class="ms-3" style="margin-top: 130px;">
			              <h5>
							  <span class="font-weight-bold" th:text="${user.name} + ' ' + ${user.surname}"></span>
						  </h5>
			              <p th:text="'@' + ${userDetails.username}"></p>
			            </div>
			          </div>
			          <div class="p-4 text-black" style="background-color: #f8f9fa;">
			            <div class="d-flex justify-content-end text-center py-1">
			              <div>
			                <p class="mb-1 h5" th:text="${#lists.size(currentlyPlaying)}">[Game Size]</p>
			                <p class="small text-muted mb-0">Numero di giochi correnti</p>
			              </div>
			              <div>
			                <p class="mb-1 h5" th:text="${#lists.size(played)}">[Game Size]>/p>
			                <p class="small text-muted mb-0">Numero di giochi terminati</p>
			              </div>
			            </div>
			          </div>
			          <div class="d-flex justify-content-between align-items-center mb-4">
			            <p class="lead fw-normal mb-0">Giochi a cui l'utente sta giocando</p>
			            <p class="mb-0"><a th:action="@{'/currentlyPlayingGames'}" class="text-muted">Mostra tutti</a></p>
			          </div>
			          
					   <div class="h3" th:if="${currentlyPlaying == null || currentlyPlaying.isEmpty()}">
							L'utente non sta ancora giocando a nessun gioco
						</div>
						<ul class="d-flex flex-row flex-nowrap overflow-auto list-group list-group-horizontal" th:if="${!currentlyPlaying.isEmpty()}">
							<li class="list-group-item border-0" th:each="game : ${currentlyPlaying}">
								<div class="card border-0" style="width: 18rem;">
									<a th:href="@{'/game/' + ${game.id}}">   
										<div th:if="${game.image} != null" class="card-img-top">
											<img th:src="@{'/display/image/' + ${game.image.id}}" width="150px" height="120px"/>
										</div>
										<div th:if="${game.image} == null" class="card-img-top" >
											<img src="/images/image-not-available.jpeg" width="150px" height="120px" />
										</div>
									</a>
									<div class="card-body">
									  <h5 class="card-text" th:text="${game.title}">Nome</h5>
									</div>
								</div>
							</li>
						</ul>
						
					  <div class="d-flex justify-content-between align-items-center mb-4">
			            <p class="lead fw-normal mb-0">Giochi che l'utente ha finito</p>
			            <p class="mb-0"><a th:action="@{'/playedGames'}" class="text-muted">Mostra tutti</a></p>
			          </div>
					    <div class="h3" th:if="${played == null || played.isEmpty()}">
							L'utente non ha ancora finito nessun gioco
						</div>
						<ul class="d-flex flex-row flex-nowrap overflow-auto list-group list-group-horizontal" th:if="${!played.isEmpty()}">
							<li class="list-group-item border-0" th:each="game : ${played}">
								<div class="card border-0" style="width: 18rem;">
									<a th:href="@{'/game/' + ${game.id}}">   
										<div th:if="${game.image} != null" class="card-img-top">
											<img th:src="@{'/display/image/' + ${game.image.id}}" width="150px" height="120px"/>
										</div>
										<div th:if="${game.image} == null" class="card-img-top" >
											<img src="/images/image-not-available.jpeg" width="150px" height="120px" />
										</div>
									</a>
									<div class="card-body">
									  <h5 class="card-text" th:text="${game.title}">Nome</h5>
									</div>
								</div>
							</li>
						</ul>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			</section>
		</div>
	</body>
</html>