<!DOCTYPE html>
<html>
	<head>
		<title>
			Giochi Utente
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
	</head>
	
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<!-- Lista recensioni vuota -->
			<div th:if="${games==null || games.isEmpty()}">
				<h1 class="mt-5 mb-5">Non ci sono giochi recensiti dall'utente</h1>
			</div>
			<!-- Lista recensioni non vuota -->
			<div class="mt-2 mb-2 row row-cols-1 row-cols-md-2" th:if="${games!=null && !games.isEmpty()}">
				<!-- Scorro la lista delle recensioni -->
			    <div class="col mb-4" th:each="game : ${games}">
			      <!-- Inizio carta -->
			      <div class="card h-100">
			        <!-- Immagine del gioco -->
			        <div class="view overlay">
			          <div th:if="${game.image} != null">
			            <a th:href="@{'/game' + '/' + ${game.id}}" class="mask rgba-white-slight">
			                <img class="card-img-top" th:src="@{'/display/image/' + ${game.image.id}}" width=50% />
			            </a>
			          </div>
			          <div th:if="${game.image} == null">
			            <a th:href="@{'/game' + '/' + ${game.id}}" class="mask rgba-white-slight">
			                <img class="card-img-top" src="/images/image-not-available.jpeg" />
			            </a>
			          </div>
			        </div>
			        <!-- Contenuto della carta -->
				    <div class="card-body">
				      <h4 class="card-title">
				        <span th:text="${game.title}"></span>
				      </h4>
				      <p>Anno di rilascio: <b><span th:text="${game.year}"></span></b></p>
				      <p class="card-text">
				        <span th:text="${game.description}"></span>
				      </p>
				    </div>
			      </div>
			      <!-- Fine carta -->
			    </div>
			</div>
		</div> <!-- Container -->
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>