<!DOCTYPE html>
<html>
	<head>
		<title>
			Giochi Utente
		</title>
		<div th:replace="fragments/css :: css-dep"></div>
		<link rel="stylesheet" href="/css/user_games_style.css" />		
	</head>
	
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<div th:if="${games==null || games.isEmpty()}"><h1 class="mt-5 mb-5">Non ci sono giochi relativi all'utente</h1></div>
			<ul>
				<li th:each="game : ${games}" class="game-card">
					<div class="game-header">
				    	<div th:if="${game.image} != null">
							<img th:src="@{'/display/image/' + ${game.image.id}}" width=50% />
				        </div>
				        <div th:if="${game.image} == null">
				        	<img src="/images/image-not-available.jpeg" />
				        </div>
					</div> <!--game-header-->
					<div class="game-content">
						<div class="game-content-header">
							<a th:href="@{'/game' + '/' + ${game.id}}">
								<h3 class="game-title" th:text="${game.title}"></h3>
							</a>
						</div>
						<div class="game-info">
							<div class="info-section">
								<label>Anno di uscita</label>
								<span th:text="${game.year}"></span>
							</div><!--date,time-->
							<div class="info-section">
								<label>Screen</label>
								<span>03</span>
							</div><!--screen-->
							<div class="info-section">
								<label>Row</label>
								<span>F</span>
							</div><!--row-->
							<div class="info-section">
								<label>Seat</label>
								<span>21,22</span>
							</div><!--seat-->
						</div>
					</div> <!--game-content-->
				</li> <!--game-card-->
			</ul>
		</div> <!--container-->
		
		<div th:replace="fragments/footer :: footer"></div>

	</body>
</html>